<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 	xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<h3>Lista de Pessoa</h3>
	<div th:each="p : ${pessoas}">
		<div>
			<p><span th:text="${p.nome}"></span></p>
			<p><span th:text="${p.email}"></span></p>
		</div>
	</div>
</body>
</html>